<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>User Management</title>
	<!-- Web Jar Resource Reference Starts -->
	<link href="../static/css/bootstrap.css" th:href="@{webjars/bootstrap-css/3.3.6/css/bootstrap.css}" rel="stylesheet"/>
	<script src="../static/js/jquery.js" th:src="@{webjars/jquery/3.1.0/dist/jquery.js}" ></script>
	<script src="../static/js/bootstrap.js" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.js}" ></script>      
	<!-- Web Jar Resource Reference Ends -->
	<!-- Non Web Jar/Custom Resource Reference Starts -->
	<link href="../static/css/bootstrap-custom.css" th:href="@{css/bootstrap-custom.css}" rel="stylesheet"/>
	<link href="../static/css/modeldialog.css" th:href="@{css/modeldialog.css}" rel="stylesheet"/>
	<link href="../static/css/usermanagement.css" th:href="@{css/usermanagement.css}" rel="stylesheet"/>
	<link href="../static/css/loadingdiv.css" th:href="@{css/loadingdiv.css}" rel="stylesheet"/>
	<script src="../static/js/usermangapp.js" th:src="@{js/usermangapp.js}" ></script>
	<script src="../static/js/angular.min.js" th:src="@{js/angular.min.js}" ></script>
    <script src="../static/js/angular-route.js" th:src="@{js/angular-route.js}" ></script>
	<script src="../static/js/app.js" th:src="@{js/app.js}" ></script>	
	<!-- Non Web Jar/Custom Resource Reference Ends -->            
</head>