<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User Management Module</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/modeldialog.css" th:href="@{css/modeldialog.css}" rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.js" th:src="@{js/jquery.js}" ></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js" th:src="@{js/bootstrap.js}" ></script>
    <script src="../static/js/usermangapp.js" th:src="@{js/usermangapp.js}" ></script>
    <script src="../static/js/angular.min.js" th:src="@{js/angular.min.js}" ></script>
    <script src="../static/js/angular-route.js" th:src="@{js/angular-route.js}" ></script>
    <script src="../static/js/app.js" th:src="@{js/app.js}" ></script>
</head>

<body ng-app="myModule">
    <div class = "container">

        <div ng-controller="home as home">
            <p>The ID is {{home.message.id}}</p>
            <p>The content is {{home.message.content}}</p>  
            <p><a href="" ng-click="home.logout()">logout</a></p>
        </div>

    </div>

</body>
</html>