<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User Management Module</title>
    <!-- Web Jar Resource Reference Starts -->
    <link href="../static/css/bootstrap.css" th:href="@{webjars/bootstrap-css/3.3.6/css/bootstrap.css}" rel="stylesheet"/>
    <script src="../static/js/jquery.js" th:src="@{webjars/jquery/3.1.0/dist/jquery.js}" ></script>
    <script src="../static/js/bootstrap.js" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.js}" ></script>      
    <!-- Web Jar Resource Reference Ends -->
    <!-- Non Web Jar/Custom Resource Reference Starts -->
    <link href="../static/css/bootstrap-custom.css" th:href="@{css/bootstrap-custom.css}" rel="stylesheet"/>
    <link href="../static/css/modeldialog.css" th:href="@{css/modeldialog.css}" rel="stylesheet"/>
    <script src="../static/js/usermangapp.js" th:src="@{js/usermangapp.js}" ></script>
    <!-- Non Web Jar/Custom Resource Reference Ends -->    
</head>
<body>
   <div class = "container">
   <h1>Hello, world!</h1>
   
   <div class = "row">
   
      <div class = "col-md-12"  style = "background-color: #dedef8; 
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         
        <form>
            <span class="subtitle">Guest list form</span>
            <div class="listBlock">
                <div class="search-block">
                    <input type="text" id="searchSurname" name="searchSurname"/>
                    <br />
                    <label for="searchSurname" th:text="#{search.label}">Search label:</label>
                    <button id="searchButton" name="searchButton" onclick="retrieveGuests()" type="button" 
                    th:text="#{search.button}">Search button</button>
                </div>

                <!-- Results block -->
                <div th:fragment="resultsList" id="results-block">
                    <h1>Hello</h1>
                    <div th:if="${userObj != null}" th:object="${userObj}">
                        <div id="mytableid">
                            <table class="table table-striped"> <caption>Basic Table Layout</caption>
                                <thead> 
                                    <tr> 
                                        <th>User Attribute Name </th> 
                                        <th>User Attribute Value</th> 
                                    </tr> 
                                </thead> 
                                <tbody> 
                                    <tr> 
                                        <td>User Name</td> 
                                        <td th:text="*{userLogin}" >User Name</td> 
                                    </tr> 
                                    <tr> 
                                        <td>User Login</td> 
                                        <td th:text="*{userName}">User Login</td>
                                    </tr> 
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>      
            </div>
        </form>
      </div>
      
   </div>
   
   </div>
   

  </body>
</html>